.env
__pycache__/
*.pyc

data/input_docs/*
storage/chunks.json
storage/converted_pdfs/*
storage/parsed_texts/*
storage/index/*
storage/eval/*
AGENTS.md
.env

!data/input_docs/.gitkeep
!storage/converted_pdfs/.gitkeep
!storage/parsed_texts/.gitkeep
!storage/index/.gitkeep
!storage/eval/.gitkeep
